#app {
    margin: 1rem;
    padding: 1rem;
}

.tool-bar {
    padding-top: 1em;
}

.header {
    display: grid;
    padding-top: 1rem;
    grid-template: 1fr;
    max-width: 50em;
    width:fit-content;
    font-size: 24px;

    & > .dummy {
        font: inherit;
        grid-area: 1 / 1;
        visibility: hidden;
        white-space: pre-wrap;
        padding: 3px 26px 3px 4px;

    }
    & > .name {
        grid-area: 1 / 1;
        min-width: 15em;
        font: inherit;
        padding-right: 24px;
        &.-display {
            border: none;
            border-bottom: 1px solid black;
        }
    }
    & > .lock {
        grid-area: 1 / 1;
        place-self: end;
        background-color: transparent;
        border: none;
        & >.fa-solid {
            width: 24px;
            height: 24px;
        }
    }
}

.heart-container {
    padding-top: 1em;
    & > .heart.-full {
        color: red;
    }

    & > .heart.-empty {
        color: lightgray;
    }

}
